force-app/main/default/flows/EmailMessage_SCR_EmailToAnyObject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SEND_Better_Email</name>
        <label>SEND Better Email with attachment</label>
        <locationX>446</locationX>
        <locationY>3014</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clear_Variables</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contentDocumentAttachments</name>
            <value>
                <elementReference>GET_ContentDocumentLink</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>form_T_BodyWithThreadingToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>var_txt_fromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>var_txt_fromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>colVar_recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>var_txt_emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SEND_better_email2</name>
        <label>SEND better email</label>
        <locationX>710</locationX>
        <locationY>3014</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Clear_Variables</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>HTMLbody</name>
            <value>
                <elementReference>form_T_BodyWithThreadingToken</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>plainTextBody</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replyEmailAddress</name>
            <value>
                <elementReference>var_txt_fromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <elementReference>var_txt_fromAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>colVar_recipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subject</name>
            <value>
                <elementReference>var_txt_emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
        </inputParameters>
        <nameSegment>SendBetterEmail</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>test</name>
        <label>GENERATE Threading Token</label>
        <locationX>380</locationX>
        <locationY>1058</locationY>
        <actionName>ThreadingTokenCreation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Attachment</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>relatedrecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ThreadingTokenCreation</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>var_txt_threadingToken</assignToReference>
            <name>threadingToken</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>ASSIGN_Clear_stored_emails_before_return</name>
        <label>ASSIGN Clear stored emails before return</label>
        <locationX>182</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>colVar_T_SelectedContactEmails</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colVar_T_SelectedContactEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>S_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Clear_stored_emails_before_return_copy</name>
        <label>ASSIGN Clear stored emails before return</label>
        <locationX>314</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>colVar_T_SelectedContactEmails</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colVar_T_SelectedContactEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>S_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASSIGN_Selected_Contact_Business_Emails</name>
        <label>ASSIGN Selected Contact Business Emails</label>
        <locationX>732</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>colVar_T_SelectedContactEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Selected_Contacts_Business.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Selected_Contacts_Business</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Variables</name>
        <label>Clear Variables</label>
        <locationX>578</locationX>
        <locationY>3206</locationY>
        <assignmentItems>
            <assignToReference>colVar_contentDocLink_ToSend</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_sObj_ContentDocument</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_sObj_SelectedContentDocument</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_recipients</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_txt_contentDocumentId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_T_SelectedAttachmentFileName</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_T_SelectedContactEmails</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_txt_contentDocumentId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_txt_ContentDocumentId_ToSend</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colvar_txt_tokenCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_txt_emailSubject</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_txt_emailBody</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_T_ContactIDs</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_B_MissingEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_txt_MissingEmail</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>S_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_ContDocLinkId_Collection</name>
        <label>SET ContDocLinkId Collection</label>
        <locationX>138</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>colVar_txt_ContentDocumentId_ToSend</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Selected_ContentDoc.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_T_SelectedAttachmentFileName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Selected_ContentDoc.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_ContentDoc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_ContentDocumentId_Collection</name>
        <label>SET ContentDocumentId Collection</label>
        <locationX>270</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>colVar_txt_contentDocumentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_transformed_ContDoc.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_transformed_ContDoc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_email_variables</name>
        <label>SET email variables</label>
        <locationX>380</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>var_txt_fromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_pkls_From_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_txt_emailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_txt_Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colVar_recipients</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>colVar_T_SelectedContactEmails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S_Confirmation_SCR_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To temporarially store entered variables  so they can be used as default values when error traps return the user to the first screen.</description>
        <name>SET_email_variables_temp_copy</name>
        <label>SET email variables (temp copy)</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>var_txt_fromAddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_pkls_From_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_txt_emailSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_txt_Subject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_Selected_Contact_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Missing_Business_Contact</name>
        <label>SET Missing Business Contact</label>
        <locationX>468</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>var_B_MissingEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll_txt_MissingEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_Selected_Contacts_Business.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Selected_Contacts_Business</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ch_fromAddress_tfDelivery</name>
        <choiceText>Kundeservice - Trollfjord &amp;lt;kundeservice@trollfjordbb.no&amp;gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>kundeservice@trollfjordbb.no</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_FromAddress_tfPersonal</name>
        <choiceText>Andreas Trollfjord Gmail &amp;lt;andreas.trollfjord@gmail.com&amp;gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>andreas.trollfjord@gmail.com</stringValue>
        </value>
    </choices>
    <constants>
        <name>FromAddress_DefaultValue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>andreas.trollfjord@gmail.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Attachment</name>
        <label>Check Attachment</label>
        <locationX>380</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>SET_email_variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Attachment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_CB_Add_Attachment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TRANSFORM_ContDocLink_ContDoc</targetReference>
            </connector>
            <label>Add Attachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_Attachment_was_selected</name>
        <label>CHECK Attachment was selected</label>
        <locationX>182</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>S_No_Attachment_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No selection - loop back</defaultConnectorLabel>
        <rules>
            <name>Selection_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colVar_sObj_SelectedContentDocument</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_ContentDoc</targetReference>
            </connector>
            <label>Selection Made</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_Business_Email</name>
        <label>CHECK Business Email</label>
        <locationX>600</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>ASSIGN_Selected_Contact_Business_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull_Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Selected_Contacts_Business.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_Missing_Business_Contact</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does the user want to edit the email?</description>
        <name>CHECK_Edit_Email</name>
        <label>CHECK Edit Email?</label>
        <locationX>380</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>DEC_Attachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_EditEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASSIGN_Clear_stored_emails_before_return</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_Attachment</name>
        <label>DEC_Attachment</label>
        <locationX>578</locationX>
        <locationY>2906</locationY>
        <defaultConnector>
            <targetReference>SEND_better_email2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Attachment_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SC_CB_Add_Attachment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SEND_Better_Email</targetReference>
            </connector>
            <label>Attachment Added</label>
        </rules>
    </decisions>
    <description>Preserve variables on loop back</description>
    <dynamicChoiceSets>
        <name>RCS_OrgWideEmail</name>
        <dataType>String</dataType>
        <displayField>Address</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsVerified</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>OrgWideEmailAddress</object>
        <valueField>Address</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>form_T_BodyWithThreadingToken</name>
        <dataType>String</dataType>
        <expression>{!var_txt_emailBody} + BR() + BR()+ BR()+ {!var_txt_threadingToken}</expression>
    </formulas>
    <formulas>
        <description>Clean up list removing code characters and put in spaces for readibility</description>
        <name>Form_T_CleanRecipientList</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!colVar_recipients}, &quot;[&quot;, &quot;&quot;), &quot;]&quot;, &quot;&quot;), &quot;,&quot;, &quot;, &quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_SubjectWithThreadingToken</name>
        <dataType>String</dataType>
        <expression>{!SC_txt_Subject} + &apos; &apos; + {!var_txt_threadingToken}</expression>
    </formulas>
    <interviewLabel>EmailThreading_SendEmail_CustomObject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage_SCR_EmailThreadingCustomObject</label>
    <loops>
        <name>LOOP_Selected_Contacts_Business</name>
        <label>LOOP Selected Contacts Business</label>
        <locationX>380</locationX>
        <locationY>566</locationY>
        <collectionReference>GET_Selected_Contact_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CHECK_Business_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>test</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_transformed_ContDoc</name>
        <label>LOOP transformed ContDoc</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <collectionReference>TRANSFORM_ContDocLink_ContDoc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SET_ContentDocumentId_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_ContentDocument2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_ContentDoc</name>
        <label>Selected ContentDoc</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <collectionReference>colVar_sObj_SelectedContentDocument</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SET_ContDocLinkId_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_ContentDocumentLink</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Content_Document_Link</name>
        <label>Get Content Document Link</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ContentDocument2</name>
        <label>GET ContentDocument</label>
        <locationX>182</locationX>
        <locationY>1682</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SCR_Add_Attachement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colVar_txt_contentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ContentDocumentLink</name>
        <label>GET ContentDocumentLink</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SET_email_variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>colVar_txt_ContentDocumentId_ToSend</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Selected_Contact_Records</name>
        <label>GET Selected Contact Records</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_Selected_Contacts_Business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>colVar_T_ContactIDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>S_Confirmation_SCR_Email</name>
        <label>Confirmation SCR Email</label>
        <locationX>380</locationX>
        <locationY>2690</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_Edit_Email</targetReference>
        </connector>
        <fields>
            <name>S_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;Confirm Email Send:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Confirmation_SCR_Email_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Confirmation_SCR_Email_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DspTxt_MissingEmail</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(218, 7, 7);&quot;&gt;Contacts without email:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(218, 7, 7);&quot;&gt;{!coll_txt_MissingEmail}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>var_B_MissingEmail</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_Confirm_SendAddress</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Email From:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!SC_pkls_From_Address}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S_Confirmation_SCR_Email_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S_Confirmation_SCR_Email_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_Confirm_ToEmail</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/em&gt;﻿Email to:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;{!Form_T_CleanRecipientList}&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SC_Confirm_Subject</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Subject:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!SC_txt_Subject}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_Confirmation_BodyasPlainText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Message as plain text:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!var_txt_emailBody}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_Confirm_Selected_Attachments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Selected Attachments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>colVar_sObj_SelectedContentDocument</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-eb58&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SC_CB_Add_Attachment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SC_EditEmail</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Edit Email?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Set this to TRUE if you wish to go back to the entry screen and edit the email.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send / Edit Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_Email</name>
        <label>SCR Email</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SET_email_variables_temp_copy</targetReference>
        </connector>
        <fields>
            <name>SC_pkls_From_Address</name>
            <choiceReferences>RCS_OrgWideEmail</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_txt_fromAddress</elementReference>
            </defaultValue>
            <fieldText>From</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SC_ContactLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>MasterRecordId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>To:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>colVar_T_ContactIDs</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colVar_T_ContactIDs</assignToReference>
                <name>recordIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SC_txt_Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>var_txt_emailSubject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SC_txt_Body</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Message</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledCategories</name>
                <value>
                    <stringValue>INSERT_CONTENT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>var_txt_emailBody</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_txt_emailBody</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SC_CB_Add_Attachment</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Attachment_Added</elementReference>
            </defaultValue>
            <fieldText>Add Attachment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S_No_Attachment_Selected</name>
        <label>No Attachment Selected</label>
        <locationX>314</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ASSIGN_Clear_stored_emails_before_return_copy</targetReference>
        </connector>
        <fields>
            <name>SC_ErrorInfo1</name>
            <fieldText>&lt;p&gt;Please select an attachment by returning to the last screen via the Previous button.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Or click on Next to go back to the original screen and remove the requirement for Attachments&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_Add_Attachement</name>
        <label>Add Attachement</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CHECK_Attachment_was_selected</targetReference>
        </connector>
        <fields>
            <name>dTbl_AddAttachment</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Attachment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>GET_ContentDocument2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-58f3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>colVar_sObj_SelectedContentDocument</assignToReference>
                <name>selectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Document_Link</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>TRANSFORM_ContDocLink_ContDoc</name>
        <label>TRANSFORM ContDocLink &gt; ContDoc</label>
        <locationX>182</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>LOOP_transformed_ContDoc</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ContentDocument</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Content_Document_Link[$EachItem].ContentDocumentId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>coll_txt_MissingEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colVar_contentDocLink_ToSend</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>colVar_recipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colVar_sObj_ContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>colVar_sObj_SelectedContentDocument</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>colVar_T_ContactIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colVar_T_SelectedAttachmentFileName</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colVar_T_SelectedContactEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colVar_txt_contentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colVar_txt_ContentDocumentId_ToSend</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colvar_txt_tokenCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_B_MissingEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_T_RIchBodyasPlainText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_txt_emailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_txt_emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_txt_fromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_txt_threadingToken</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_txt_toAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>