force-app/main/default/flows/Web_SCR_Create_Lead_NO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Business_values_to_variable</name>
        <label>Add Business values to variable</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_postal_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_first_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_First_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_lastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Last_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Business_Landskode}{!Business_Phone.value}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Orgnr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Org_nr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_customer_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Business</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Company_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_billing_address_filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Housing_values_to_variable</name>
        <label>Add Housing values to variable</label>
        <locationX>1722</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_postal_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_first_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_First_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_lastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Last_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Housing_Landskode}{!Housing_Phone.value}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Orgnr</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Org_nr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_customer_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residential Ownership</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Company_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Housing_Is_billing_address_filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_private_billing_values_to_variable</name>
        <label>Add private billing values to variable</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Var_billing_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Billing_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_billing_phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Billing_phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Billing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Billing_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_postal_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Billing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Billing_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Billing_street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_private_values_to_variable</name>
        <label>Add private values to variable</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_add_info</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Additional_add_input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_postal_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_first_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_First_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_lastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Last_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Landskode}{!Private_Phone.value}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_department</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_customer_type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Private_Is_billing_address_filled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Content_values</name>
        <label>Assign Content values</label>
        <locationX>1018</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>coll1_contentDocIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentDocumentsids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll2_txt_contentdocLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contentversionids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Content_values</name>
        <label>Copy 1 of Assign Content values</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>coll1_contentDocIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContentDocumentsids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coll2_txt_contentdocLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contentversionids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_private_values_to_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Housing_Use_address_as_Billing_address</name>
        <label>Housing Use address as Billing address</label>
        <locationX>1722</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Var_Billing_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_postal_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Company_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_org</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Org_nr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_housing_full_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_billing_phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Housing_Use_inputted_Billing_address</name>
        <label>Housing Use inputted Billing address</label>
        <locationX>1458</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Var_Billing_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Billing_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Billing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_postal_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Billing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Billing_Company_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_org</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Billing_Org</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Billing_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_billing_phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Billing_phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Housing_Billing_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Private_Use_address_as_Billing_address</name>
        <label>Private Use address as Billing address</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Var_Billing_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_postal_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_private_full_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_billing_phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Private_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_ContDoclink_Collection</name>
        <label>SET ContDoclink Collection</label>
        <locationX>1106</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>coll_sobj_ContentDocumentLink</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_sObj_ContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_ContentDocumentIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_ContDocLink_Entity</name>
        <label>SET ContDocLink Entity</label>
        <locationX>1106</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ContentDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ContentDocumentLInk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_txt_LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ContentDocumentLInk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_Content_Document_Link</name>
        <label>SET Content Document Link</label>
        <locationX>1106</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>var_sObj_ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_ContentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_sObj_ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_txt_LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SET_ContDoclink_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_address_as_Billing_address</name>
        <label>Use address as Billing address</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Var_Billing_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_postal_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Company_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_org</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Org_nr</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_Business_full_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_billing_phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Use_inputted_Billing_address</name>
        <label>Use inputted Billing address</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Var_Billing_Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Billing_Address</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Billing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_postal_code</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Billing_Postcode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Billing_Company_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_org</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Billing_Org</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Billing_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_billing_phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Billing_phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_billing_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Billing_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Content_values</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bergen</name>
        <choiceText>Bergen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00G6700000Cllpk</stringValue>
        </value>
    </choices>
    <choices>
        <name>Haugesund</name>
        <choiceText>Haugesund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00GSg000001dQYL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kristiansand</name>
        <choiceText>Kristiansand</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00G6700000Cllpp</stringValue>
        </value>
    </choices>
    <choices>
        <name>LK_Danmark</name>
        <choiceText>Danmark (+45)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>+45</stringValue>
        </value>
    </choices>
    <choices>
        <name>lk_england</name>
        <choiceText>England (+44)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>+44</stringValue>
        </value>
    </choices>
    <choices>
        <name>lk_finland</name>
        <choiceText>Finland (+358)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>+358</stringValue>
        </value>
    </choices>
    <choices>
        <name>LK_Norge</name>
        <choiceText>Norge (+47)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>+47</stringValue>
        </value>
    </choices>
    <choices>
        <name>lk_polen</name>
        <choiceText>Polen (+48)</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>LK_sverige</name>
        <choiceText>Sverige (+46)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>+46</stringValue>
        </value>
    </choices>
    <choices>
        <name>lk_usa</name>
        <choiceText>USA (+1)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>+1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Oslo</name>
        <choiceText>Oslo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00G6700000Cllpf</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stavanger</name>
        <choiceText>Stavanger</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>00G6700000Cllpa</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Clicked</name>
        <label>Clicked</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Housing_ask_for_quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sameie / Borettslag</defaultConnectorLabel>
        <rules>
            <name>Privat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Private_Button.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Privat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Private_ask_for_quote</targetReference>
            </connector>
            <label>Privat</label>
        </rules>
        <rules>
            <name>Business</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Button.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bedrift</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_ask_for_quote</targetReference>
            </connector>
            <label>Business</label>
        </rules>
    </decisions>
    <decisions>
        <name>Housing_Is_billing_address_filled</name>
        <label>Housing Is billing address filled?</label>
        <locationX>1722</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Content_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Housing_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Housing_Bill_to_another_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Housing_Use_inputted_Billing_address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Housing_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Housing_Bill_to_another_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Housing_Use_address_as_Billing_address</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_billing_address_filled</name>
        <label>Is billing address filled?</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Content_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Bill_to_another_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_inputted_Billing_address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Business_Bill_to_another_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_address_as_Billing_address</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Private_Is_billing_address_filled</name>
        <label>Private Is billing address filled?</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Content_values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Private_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Private_Bill_to_another_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_private_billing_values_to_variable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Private_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Private_Bill_to_another_address</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Private_Use_address_as_Billing_address</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Form_Business_full_name</name>
        <dataType>String</dataType>
        <expression>{!Business_First_name} + &apos; &apos; + {!Business_Last_name}</expression>
    </formulas>
    <formulas>
        <name>Form_housing_full_name</name>
        <dataType>String</dataType>
        <expression>{!Housing_First_name} + &apos; &apos; + {!Housing_Last_name}</expression>
    </formulas>
    <formulas>
        <name>Form_location_name</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Var_department} = &quot;00G6700000Cllpf&quot;, &quot;Oslo&quot;,
    IF(
        {!Var_department} = &quot;00G6700000Cllpk&quot;, &quot;Bergen&quot;,
        IF(
            {!Var_department} = &quot;00G6700000Cllpa&quot;, &quot;Stavanger&quot;,
        IF(
            {!Var_department} = &quot;00GSg000001dQYL&quot;, &quot;Haugesund&quot;,
        IF(
            {!Var_department} = &quot;00G6700000Cllpp&quot;, &quot;Kristiansand&quot;,
            null
        )))))</expression>
    </formulas>
    <formulas>
        <name>Form_private_full_name</name>
        <dataType>String</dataType>
        <expression>{!Private_First_name} + &apos; &apos; + {!Private_Last_name}</expression>
    </formulas>
    <formulas>
        <name>TextToNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Business_Postcode})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Web_SCR_Create_Lead_NO {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Web_SCR_Create_Lead_NO</label>
    <loops>
        <name>LOOP_ContentDocumentIds</name>
        <label>LOOP ContentDocumentIds</label>
        <locationX>1018</locationX>
        <locationY>1790</locationY>
        <collectionReference>ContentDocumentsids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SET_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CREATE_Content_Document_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ContentDocumentLInk</name>
        <label>Loop ContentDocumentLInk</label>
        <locationX>1018</locationX>
        <locationY>1490</locationY>
        <collectionReference>GET_ContentDocumentLink</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SET_ContDocLink_Entity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LOOP_ContentDocumentIds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CREATE_Content_Document_Link</name>
        <label>CREATE Content Document Link</label>
        <locationX>1018</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <inputReference>coll_sobj_ContentDocumentLink</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_lead</name>
        <label>Create lead</label>
        <locationX>1018</locationX>
        <locationY>1274</locationY>
        <assignRecordIdToReference>var_txt_LeadId</assignRecordIdToReference>
        <connector>
            <targetReference>GET_ContentDocumentLink</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Company__c</field>
            <value>
                <elementReference>Var_billing_company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Org_nr__c</field>
            <value>
                <elementReference>Var_billing_org</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Phone__c</field>
            <value>
                <elementReference>var_billing_phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_email__c</field>
            <value>
                <elementReference>Var_billing_email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_name__c</field>
            <value>
                <elementReference>Var_billing_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Var_billing_city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>var_company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <stringValue>Norway</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_City__c</field>
            <value>
                <elementReference>Var_city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Postal_Code__c</field>
            <value>
                <elementReference>Var_postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Street__c</field>
            <value>
                <elementReference>var_street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_apt_section_etc__c</field>
            <value>
                <elementReference>Var_add_info</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>var_email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Var_first_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Var_lastname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <elementReference>Form_location_name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Org_nr__c</field>
            <value>
                <elementReference>Var_Orgnr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Var_department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Var_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Var_billing_postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Var_Billing_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>var_customer_type</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>GET_ContentDocumentLink</name>
        <label>GET ContentDocumentLink</label>
        <locationX>1018</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ContentDocumentLInk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentsids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WebisteGuestUser</name>
        <label>Get WebisteGuestUser</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clicked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>website Site Guest User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Business_ask_for_quote</name>
        <label>Business ask for quote</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Business_values_to_variable</targetReference>
        </connector>
        <fields>
            <name>Business_Department</name>
            <choiceReferences>Oslo</choiceReferences>
            <choiceReferences>Bergen</choiceReferences>
            <choiceReferences>Stavanger</choiceReferences>
            <choiceReferences>Kristiansand</choiceReferences>
            <choiceReferences>Haugesund</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Velg nærmeste avdeling</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Company_name</name>
                    <dataType>String</dataType>
                    <fieldText>Firmanavn</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_ask_for_quote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Org_nr</name>
                    <dataType>String</dataType>
                    <fieldText>Org nr</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt organisasjonsnummer 9 siffer &lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Business_Org_nr}) &lt;&gt; 9) &amp;&amp;
(ISNUMBER({!Business_Org_nr})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_First_name</name>
                    <dataType>String</dataType>
                    <fieldText>Fornavn kontaktperson</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_ask_for_quote_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Last_name</name>
                    <dataType>String</dataType>
                    <fieldText>Etternavn kontaktperson</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Street</name>
            <dataType>String</dataType>
            <fieldText>Adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postnummer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt postnummer 4 siffer&lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Business_Postcode}) &lt;&gt; 4) &amp;&amp;
(ISNUMBER({!Business_Postcode})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_ask_for_quote_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_City</name>
                    <dataType>String</dataType>
                    <fieldText>Poststed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>ola@nordmann.no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>E-post</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Landskode</name>
                    <choiceReferences>LK_Norge</choiceReferences>
                    <choiceReferences>LK_sverige</choiceReferences>
                    <choiceReferences>LK_Danmark</choiceReferences>
                    <choiceReferences>lk_finland</choiceReferences>
                    <choiceReferences>lk_polen</choiceReferences>
                    <choiceReferences>lk_england</choiceReferences>
                    <choiceReferences>lk_usa</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>LK_Norge</defaultSelectedChoiceReference>
                    <fieldText>Landskode</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_ask_for_quote_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Telefonnummer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Description</name>
            <fieldText>Beskrivelse</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>disptxt_example_description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Eks på beskrivelse: Utvendig vinduspuss av 1. og 2. etasje hver 3. måned.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CustomFileUploader_business</name>
            <extensionName>c:customFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPillContainer</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_Bill_to_another_address</name>
            <dataType>Boolean</dataType>
            <fieldText>Oppdraget faktureres til en annen adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Billing_Company_name</name>
                    <dataType>String</dataType>
                    <fieldText>Firmanavn</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_ask_for_quote_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Billing_Org</name>
                    <dataType>String</dataType>
                    <fieldText>Org nr</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt organisasjonsnummer 9 siffer &lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Business_Billing_Org}) &lt;&gt; 9) &amp;&amp;
(ISNUMBER({!Business_Billing_Org})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Business_Billing_name</name>
            <dataType>String</dataType>
            <fieldText>Navn</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Business_Billing_Address</name>
            <dataType>String</dataType>
            <fieldText>Adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Billing_Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postnummer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt 4 siffer postnummer&lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Business_Billing_Postcode}) &lt;&gt; 4) &amp;&amp;
(ISNUMBER({!Business_Billing_Postcode})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_ask_for_quote_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Billing_City</name>
                    <dataType>String</dataType>
                    <fieldText>Poststed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Business_Billing_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>E-post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>ola@nordmann.no</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Business_Billing_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Telefon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Telefonnummer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Business_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Business_ask_for_quote_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Business_ask_for_quote_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_ask_for_quote_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_ask_for_quote_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Business_ask_for_quote_Section10_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Not_a_robot</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Jeg er ikke en robot</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Du må huke på for å fortsette&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(({!Not_a_robot} = FALSE),FALSE,TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Housing_ask_for_quote</name>
        <label>Housing ask for quote</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Housing_values_to_variable</targetReference>
        </connector>
        <fields>
            <name>Housing_Department</name>
            <choiceReferences>Oslo</choiceReferences>
            <choiceReferences>Bergen</choiceReferences>
            <choiceReferences>Stavanger</choiceReferences>
            <choiceReferences>Kristiansand</choiceReferences>
            <choiceReferences>Haugesund</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Velg nærmeste avdeling</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Company_name</name>
                    <dataType>String</dataType>
                    <fieldText>Navn på Sameie / Borettslag</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_ask_for_quote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Org_nr</name>
                    <dataType>String</dataType>
                    <fieldText>Org nr</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt organisasjonsnummer 9 siffer &lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Housing_Org_nr}) &lt;&gt; 9) &amp;&amp;
(ISNUMBER({!Housing_Org_nr})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_First_name</name>
                    <dataType>String</dataType>
                    <fieldText>Fornavn kontaktperson</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_ask_for_quote_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Last_name</name>
                    <dataType>String</dataType>
                    <fieldText>Etternavn kontaktperson</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_City</name>
            <dataType>String</dataType>
            <fieldText>Poststed</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Housing_Street</name>
            <dataType>String</dataType>
            <fieldText>Adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postnummer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt postnummer 4 siffer&lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Housing_Postcode}) &lt;&gt; 4) &amp;&amp;
(ISNUMBER({!Housing_Postcode})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_ask_for_quote_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>ola@nordmann.no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>E-post</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Landskode</name>
                    <choiceReferences>LK_Norge</choiceReferences>
                    <choiceReferences>LK_sverige</choiceReferences>
                    <choiceReferences>LK_Danmark</choiceReferences>
                    <choiceReferences>lk_finland</choiceReferences>
                    <choiceReferences>lk_polen</choiceReferences>
                    <choiceReferences>lk_england</choiceReferences>
                    <choiceReferences>lk_usa</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>LK_Norge</defaultSelectedChoiceReference>
                    <fieldText>Landskode</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_ask_for_quote_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Telefonnummer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Description</name>
            <fieldText>Beskrivelse</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_2_of_disptxt_example_description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Eks på beskrivelse: Utvendig vinduspuss av 1. og 2. etasje hver 3. måned.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CustomFileUploader_Housing</name>
            <extensionName>c:customFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPillContainer</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_Bill_to_another_address</name>
            <dataType>Boolean</dataType>
            <fieldText>Oppdraget faktureres til en annen adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Billing_Company_name</name>
                    <dataType>String</dataType>
                    <fieldText>Firma</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_ask_for_quote_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Billing_Org</name>
                    <dataType>String</dataType>
                    <fieldText>Org nr</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt organisasjonsnummer 9 siffer &lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Housing_Billing_Org}) &lt;&gt; 9) &amp;&amp;
(ISNUMBER({!Housing_Billing_Org})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Housing_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Housing_Billing_name</name>
            <dataType>String</dataType>
            <fieldText>Navn</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Housing_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Housing_Billing_Address</name>
            <dataType>String</dataType>
            <fieldText>Adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Housing_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Billing_Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postnummer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt 4 siffer postnummer&lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Housing_Billing_Postcode}) &lt;&gt; 4) &amp;&amp;
(ISNUMBER({!Housing_Billing_Postcode})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_ask_for_quote_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Billing_City</name>
                    <dataType>String</dataType>
                    <fieldText>Poststed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Housing_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Housing_Billing_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>E-post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>ola@nordmann.no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Housing_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Housing_Billing_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Telefon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Telefonnummer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Housing_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Housing_ask_for_quote_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Housing_ask_for_quote_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_ask_for_quote_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_ask_for_quote_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Housing_ask_for_quote_Section10_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Not_a_robot</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Jeg er ikke en robot</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Du må huke på for å fortsette&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(({!Housing_Not_a_robot} = FALSE),FALSE,TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Private_ask_for_quote</name>
        <label>Private ask for quote</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Content_values</targetReference>
        </connector>
        <fields>
            <name>Private_Department</name>
            <choiceReferences>Oslo</choiceReferences>
            <choiceReferences>Bergen</choiceReferences>
            <choiceReferences>Stavanger</choiceReferences>
            <choiceReferences>Kristiansand</choiceReferences>
            <choiceReferences>Haugesund</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Velg nærmeste avdeling</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Private_ask_for_quote_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Private_ask_for_quote_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_First_name</name>
                    <dataType>String</dataType>
                    <fieldText>Fornavn</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Private_ask_for_quote_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Last_name</name>
                    <dataType>String</dataType>
                    <fieldText>Etternavn</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Private_Street</name>
            <dataType>String</dataType>
            <fieldText>Adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Private_Additional_add_input</name>
            <dataType>String</dataType>
            <fieldText>Leilighet / Seksjon / annet</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Private_ask_for_quote_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Private_ask_for_quote_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postnummer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt postnummer 4 siffer&lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Private_Postcode}) &lt;&gt; 4) &amp;&amp;
(ISNUMBER({!Private_Postcode})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Private_ask_for_quote_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_City</name>
                    <dataType>String</dataType>
                    <fieldText>Poststed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Private_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>ola@nordmann.no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>E-post</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Private_ask_for_quote_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Private_ask_for_quote_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Landskode</name>
                    <choiceReferences>LK_Norge</choiceReferences>
                    <choiceReferences>LK_sverige</choiceReferences>
                    <choiceReferences>LK_Danmark</choiceReferences>
                    <choiceReferences>lk_finland</choiceReferences>
                    <choiceReferences>lk_polen</choiceReferences>
                    <choiceReferences>lk_england</choiceReferences>
                    <choiceReferences>lk_usa</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>LK_Norge</defaultSelectedChoiceReference>
                    <fieldText>Landskode</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Private_ask_for_quote_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Telefonnummer</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefon</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Private_Description</name>
            <fieldText>Beskrivelse</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_disptxt_example_description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Eks på beskrivelse: Utvendig vinduspuss av 1. og 2. etasje hver 3. måned.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Private_ask_for_quote_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Private_ask_for_quote_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CustomFileUploader</name>
            <extensionName>c:customFileUploader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Upload File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showPillContainer</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_WebisteGuestUser.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Private_ask_for_quote_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Private_ask_for_quote_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Private_Bill_to_another_address</name>
            <dataType>Boolean</dataType>
            <fieldText>Oppdraget faktureres til en annen adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Private_Billing_name</name>
            <dataType>String</dataType>
            <fieldText>Navn</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Private_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Private_Billing_street</name>
            <dataType>String</dataType>
            <fieldText>Adresse</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Private_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Private_ask_for_quote_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Private_ask_for_quote_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Billing_Postcode</name>
                    <dataType>String</dataType>
                    <fieldText>Postnummer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Vennligst skriv inn ditt 4 siffer postnummer&lt;/p&gt;</errorMessage>
                        <formulaExpression>(NOT(LEN({!Private_Billing_Postcode}) &lt;&gt; 4) &amp;&amp;
(ISNUMBER({!Private_Billing_Postcode})))</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Private_ask_for_quote_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Billing_City</name>
                    <dataType>String</dataType>
                    <fieldText>Poststed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Private_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Private_Billing_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>E-post</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>ola@nordmann.no</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Private_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Private_Billing_phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Telefon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Telefonnummer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Private_Bill_to_another_address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Private_ask_for_quote_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Private_ask_for_quote_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Private_ask_for_quote_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Private_ask_for_quote_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Private_ask_for_quote_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Private_ask_for_quote_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Private_ask_for_quote_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Not_a_robot</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Jeg er ikke en robot</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Du må huke på for å fortsette&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(({!Private_Not_a_robot} = FALSE),FALSE,TRUE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scr_customer_type</name>
        <label>scr_customer_type</label>
        <locationX>1018</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_WebisteGuestUser</targetReference>
        </connector>
        <fields>
            <name>scr_customer_type_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_customer_type_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>disp_txt_customertype</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Hva slags kunde er du?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_customer_type_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_customer_type_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_customer_type_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_customer_type_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_customer_type_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Private_Button</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Privat&quot;,&quot;value&quot;:&quot;Privat&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:user&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssString</name>
                        <value>
                            <stringValue>font-weight: bold; font-size: 22px;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_customer_type_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_customer_type_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_customer_type_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_customer_type_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_customer_type_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Button</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Bedrift&quot;,&quot;value&quot;:&quot;Bedrift&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:company&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssString</name>
                        <value>
                            <stringValue>font-weight: bold; font-size: 22px;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_customer_type_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_customer_type_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_customer_type_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scr_customer_type_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scr_customer_type_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_customer_type_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Housing_Button</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cssString</name>
                        <value>
                            <stringValue>font-weight: bold; font-size: 22px;</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Sameie / Borettslag&quot;,&quot;value&quot;:&quot;Housing&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:swarm_request&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scr_customer_type_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>1018</locationX>
        <locationY>2306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txt_confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Takk for din forespørsel, den vil bli behandlet så raskt som mulig.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Ved stor pågang kan det ta opptil 1 uke, men vanligvis får du tilbud etter en dag eller to.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Dersom det haster så kan du ta kontakt på telefon: ‍905 44 444&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_customer_type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>email_body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Takk for din forespørsel, den vil bli behandlet så raskt som mulig. &lt;/p&gt;&lt;p&gt;Ved stor pågang kan det ta opptil 1 uke, men vanligvis får du tilbud etter en dag eller to.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dersom det haster så kan du ta kontakt på telefon: ‍905 44 444&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Arial&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Med vennlig hilsen&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: &amp;quot;Arial&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Elite Vinduspuss AS&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>coll1_contentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll2_txt_contentdocLink</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_sobj_ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentsids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Contentversionids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Files_uploaded_list</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileupload_contentVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_add_info</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_billing_city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_billing_company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_billing_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_billing_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_billing_org</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_billing_phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_billing_postal_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Billing_Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_city</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_company</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_customer_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_department</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_first_name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_lastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_location</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Orgnr</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_postal_code</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_sObj_ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>var_street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_txt_LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
